﻿
<h2>
    @{
        var ip = Request.ServerVariables["HTTP_X_FORWARDED_FOR"] ?? Request.ServerVariables["HTTP_CLIENT_IP"] ?? Request.ServerVariables["REMOTE_ADDR"] ?? null;
    }

    @ip
    <br/>
    @RedirectToBuzzr.Models.FailedIpManager.CountIP(Request).ToString()
    <br/>
    @RedirectToBuzzr.Models.FailedIpManager.IsInValidIp(Request, 5).ToString()


</h2>

